---
import { readFile } from "fs/promises";

const careerDataPath = new URL(
    "../../public/assets/jsondata/career.json",
    import.meta.url,
);
const careerDataBuffer = await readFile(careerDataPath);
const careerData: Array<CareerData> = JSON.parse(
    careerDataBuffer.toString(),
) as Array<CareerData>;

interface CareerData {
    companyName: string;
    position: string;
    startDate: string;
    endDate: string;
    skillsOrToolsUsed: string[];
    description: string;
}

---

<div class="row d-flex justify-content-center mt-4">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-12 col-md-8">
            <h1 class="text-center index-intro-title primary-text mt-4">
                My Career
            </h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-7 offset-2">
            {
                careerData.map((data: CareerData) => {
                    return (
                        <>
                        <br/>
                        <br/>
                        <br/>
                            <div class="row mt-4">
                                <div class="col-sm-2 text-secondary d-flex align-items-center">
                                    {data.startDate} - {data.endDate}
                                </div>
                                <div class="col-sm-6 fs-4">
                                    {data.position}&nbsp;.&nbsp;
                                    <i class="fs-5">{data.companyName}</i>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6 offset-2 text-secondary text-justify" style="text-align: justify;">
                                    {data.description}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 offset-2">
                                    <div class="row">
                                        {data.skillsOrToolsUsed.map(
                                        (skill: string) => (
                                            <div class="skill-name text-dark dart-text-bg-color w-auto mx-2 mb-2">
                                                <b>{skill}</b>
                                            </div>
                                        ),
                                    )}
                                    </div>
                                </div>
                            </div>
                        </>
                    );
                })
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 offset-8">
            <p class="index-scroll text-center" style="margin-top:0">S C R O L L</p>         
        </div>
    </div>
</div>
